/* margin left */
.ml-50{
    margin-left: 50px;
}
.ml-100{
    margin-left: 100px;
}
/* margin bottom */
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
